[submodule "extra"]
	path = extra
	url = https://github.com/MarcroSoft/nvgt_extra
	branch = master
[submodule "vcpkg/bin"]
	path = vcpkg/bin
	url = https://github.com/microsoft/vcpkg
[submodule "plugin/lua"]
	path = plugin/lua
	url = https://github.com/MarcroSoft/nvgt_lua
	branch = main
